*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
input, button{
    padding: 5px;
    margin: 10px;
}
form, input{
    margin: 0 20px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
}
.botoes button{
    margin: 0 15px 20px;
}
#principal{
    width: 800px;
    height: 500px;
    background-color: gray;
    border-radius: 10px;
}